<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static',filename='../static/css/bootstrap.min.css')}}">
<script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>


<nav class="navbar navbar-expand-sm fixed-top" id="headone" style="background-color: #f7f9fa;    -moz-box-shadow:2px 2px 5px #424242;
    -webkit-box-shadow:2px 2px 5px #464646;">
<main class="container-fluid">
  <h1 class="visually-hidden">Headers examples</h1>

  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{{url_for('hello_world')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" style="float: left">
        <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
		<img src="static/images/head.jpg" width="32" height="32" alt="">
		<span class="fs-4">Spider</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{url_for('filmrank')}}" class="nav-link">评分</a></li>
        <li class="nav-item"><a href="{{url_for('wordcloud')}}" class="nav-link">词云</a></li>
        <li class="nav-item"><a href="{{url_for('boxofficerank')}}" class="nav-link">票房</a></li>
        <li class="nav-item"><a href="{{url_for('forecast')}}" class="nav-link">预测</a></li>
         <li class="nav-item"><a href="{{url_for('visualizing')}}" class="nav-link">图表</a></li>
      </ul>
    </header>
  </div>


</main>
</nav>

<script>
        var onResize = function (){
           // console.log($("#headone").height())
            $("body").css("padding-top",$("#headone").height()+40)
        };
        $(window).resize(onResize);
        $(function (){
            onResize();
        });
</script>











